@import 'themes.scss';

.siteWrapper {
	width: 80vw;
	margin: auto;
	padding-right: 8em;
	padding-left: 8em;

	@media screen and (max-width: 800px) {
    padding: 0 2em;
  }
}

.header {
	position:fixed;
	width:100%;
	z-index:1;
	top:0;

	.bar {
		display: flex;
		overflow:hidden;
		white-space:normal;

		.barItem {
			padding:8px 16px;
			float:left;
			width:auto;
			outline:0;
			border:none;
			display:inline-block;
			padding:8px 16px;
			vertical-align:middle;
			overflow:hidden;
			text-decoration:none;
			color:inherit;
			background-color:inherit;
			text-align:center;
			cursor:pointer;
			white-space:nowrap;
			text-transform: uppercase;
			flex: none;

			&:hover {
				background-color: #ccc;
			}
		}

		&:before, &:after {
			content:"";
			display:table;
			clear:both
		}
	}

	.mobile {
		@media screen and (min-width: 800px) {
	    display: none;
	  }
	  flex-direction: column;
	}

	.desktop {
		@media screen and (max-width: 800px) {
	    display: none;
	  }
	  flex-direction: row;
	  width:100%;
	}
}

.projectSummary {
	text-align: center; 
	margin-top: 5em;
	overflow-wrap: break-word;

	.summary {
		text-align: left;
	}
}

.awardsComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slideshowComponent {
	display: flex;
	flexDirection: row;
	flexWrap: wrap;

	.slidePicture {
		textAlign: center;
	}
}

.tableComponent {
	overflow: hidden;

	.main {
		.title {

		}
		.rightTitle {
			@media screen and (max-width: 800px) {
			  padding-left: 30px;
			}
		}
	}
}

.listItem {
	border-top: 2px solid black;
	padding: 10px 0px;

	.left {
		@media screen and (max-width: 800px) {
	    font-weight: bold;
	  }
	}
	.right {
	@media screen and (max-width: 800px) {
	  padding-left: 30px;
	}
}	
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	opacity: 0.60;
	justify-content: center;
	padding: 2em;

	a {
		font-size:24px;
		display: inline;
		color: #FFFFFF;
		margin-right: 0.5em;
		&:hover { color: inherit }
		i:hover { opacity:0.60; }
	}

}
.footer:hover { opacity: 1; }

.toTop {
	position: fixed;
	background-color: #000000;
	color: #FFFFFF;
	opacity: 0.60;
	cursor:pointer;
	bottom: 50px;
	right: 50px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	z-index: 2;

	i {
		font-size: 2em;
		transform: translateY(25%);
	}
}
.toTop:hover { opacity: 1; }
