.siteWrapper {
	width: 80vw;
	margin: auto;
	paddingRight: 8em;
	paddingLeft: 8em;

	@media screen and (max-width: 800px) {
    padding: 0 2em;
  }
}

.header {
	position:fixed;
	width:100%;
	z-index:1;
	top:0;

	.bar {
		display: flex;
		overflow:hidden;
		white-space:normal;

		.barItem {
			padding:8px 16px;
			float:left;
			width:auto;
			outline:0;
			border:none;
			display:inline-block;
			padding:8px 16px;
			vertical-align:middle;
			overflow:hidden;
			text-decoration:none;
			color:inherit;
			background-color:inherit;
			text-align:center;
			cursor:pointer;
			white-space:nowrap;
		}

		&:before, &:after {
			content:"";
			display:table;
			clear:both
		}
		.barItem:hover {
			background-color: #ccc;
		}
	}

	.scroll {
		box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		color:#000;
		background-color:#fff;
	}

	.mobile {
		@media screen and (min-width: 800px) {
	    display: none;
	  }
	  flex-direction: column;
	}

	.desktop {
		@media screen and (max-width: 800px) {
	    display: none;
	  }
	  flex-direction: row;
	  width:100%;
	}
}

.projectSummary {
	text-align: center; 
	margin-top: 5em;
	overflow-wrap: break-word;

	.summary {
		text-align: left;
	}
}

.awardsComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.progressComponent {
	overflow: hidden;

	.main {
		.title {

		}
	}
}

.meetTheTeamComponent {
	overflow: hidden;

	.main {
		.title {

		}
	}
}

.listItem {
	border-top: 2px solid black;
	padding: 10px 0px;

	.title, .name {
		@media screen and (max-width: 800px) {
	    font-weight: bold;
	  }
	}

	.description {
		@media screen and (max-width: 800px) {
	    padding-left: 2em;
	  }
	}
}

.footer {
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 64px;
	padding-bottom: 64px;
	opacity: 0.60;
	marginTop: 3em;

	.toTop {
		border:none;
		display:inline-block;
		padding:8px 16px;
		vertical-align:middle;
		overflow:hidden;
		text-decoration:none;
		background-color:inherit;
		text-align:center;
		cursor:pointer;
		white-space:normal;
		width: auto;

		color: #000;
		background-color: #f1f1f1
	}
	.toTop:hover{color: #000;background-color: #ccc}

	.socialMedia {
		font-size:24px;
		margin-top:16px;
		margin-bottom:16px;

		i:hover { opacity:0.60; }
	}

}
.footer:hover { opacity: 1; }
